---
layout: layouts/base.njk
title: Страница не найдена
permalink: /404.html
---

<div class="container">
  <section class="section text-center">
    <h1>404</h1>
    <p>Такой страницы не существует.</p>
    <a href="/">Вернуться на главную</a>
  </section>
</div>
