---
layout: layouts/gallery.njk
title: Живопись
---

<div class="container">
  <section class="section">
    <h1 class="text-center text-uppercase">Живопись</h1>
  </section>
</div>

{% set works = collections.paintings | sortByOrder %}
